school/uphoenix/web432/tutorial.06x/cases/checking.dtd

<!ELEMENT checking (check)*>

<!ELEMENT check (amount, to, date, memo)>
<!ATTLIST check id CDATA #IMPLIED>
<!ATTLIST check category (utilities | entertainment | food | clothing | cash | other) #IMPLIED>

<!ELEMENT amount (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT memo (#PCDATA)>


